BOT_TOKEN=8784893918:AAEB8APSDKo9ISRiC_ltEQUc5zW7Z0Mppbc
BOT_USERNAME=davr_lunch_order_bot

DB_URL=jdbc:postgresql://localhost:5432/lunch_bot
DB_USERNAME=postgres
DB_PASSWORD=123
LUNCH_ROUNDING_STRATEGY=CEIL_TO_100
LUNCH_GROUP_CHAT_ID=-1003686636167

SUPER_ADMIN_TELEGRAM_USER_ID=1067339285
SUPER_ADMIN_USERNAME=tokhirjon_sadullaev
SUPER_ADMIN_FIRST_NAME=Toxirjon
SUPER_ADMIN_LAST_NAME=Sadullayev
SUPER_ADMIN_PRIVATE_CHAT_ID=1067339285